<!DOCTYPE html>
<html>
<head>
	<title>PlayPy</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "styles/style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "styles/font-awesome/css/font-awesome.min.css" %}">
</head>
<body>
	<div id="main">
		<div id="banner">
			<h1>PlayPy</h1>
			<div id="banner-now-playing">
				<div class="now-playing-text">
					<span class="info-title">{{title}}</span> by <span class="info-artist">{{artist}}</span><br />
					from <span class="info-album">{{album}}</span>
				</div>
				<img src="{% url 'music:artwork' %}" class="album-artwork">
			</div>
		</div>

		<div id="middleContainer">
			<div id="col_searchAndBrowse">
				<div id="searchContainer">
					<h2>Add a Track</h2>
					<form class="search">
						{% csrf_token %}
						<input name="search" placeholder="Search..." autocomplete="off"/>
						<ul class="results">
						</ul>
					</form>
				</div>

				<div id="browse">
					<div>
						<h3>Browse</h3>
						<a href="#" id="browseBy_artist">Artist</a> | 
						<a href="#" id="browseBy_album">Album</a>
					</div>
					<div id="browsing_album" style="display:none;">
						<ol>
						</ol>
					</div>
 					<div id="browsing_artist">
						<ol>
						{% for artist in artistList %}
							<li><a href="#" class="artistName">{{ artist }}</a>&nbsp;</li>
						{% endfor %}
						</ol>
					</div>
				</div>
			</div>

			<div id="upcoming-tracks">
				<h2>Upcoming Songs</h2>
				<ul class="upcoming-track-list">
					{% for song in lUpcoming %}
						<li>{{ song.title }} by {{ song.artist }}</li>
					{% endfor %}
				</ul>
				<h5>There are <span class="data_total-tracks">{{ iTotalTracks }}</span> tracks currently in the queue
			</div>
		</div>
	</div>
	
	<div id="playback">
		<audio id="stream" preload="none">
			<source src="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/stream" type='audio/mpeg; codecs="mp3"'>
			Your browser doesn't support the HTML5 Audio Tag.
		</audio>
		<a href="#" id="playback-control">
			<i class="fa fa-play"></i>
		</a>
		<a href="#" id="playback-vol-down">
			<i class="fa fa-volume-down"></i>
		</a>
		<a href="#" id="playback-vol-up">
			<i class="fa fa-volume-up"></i>
		</a>
	</div>
	<!-- <div id="browsePopup"> -->
	<div id="browsePopup" style="display:none;">
		<a href="#" id="browsePopupClose"><i class="fa fa-close"></i></a>
		<h2>Artist Name</h2>
		<div>
			<div class="loading-cog"><i class="fa fa-spin fa-fw fa-cog"></i></div>
			<ul>
<!-- 			<li>
				<span class="album-title"><%= title %></span><br />
				<img src="{% url 'music:artwork' %}" class="album-artwork">
<ol><% _.each(tracks,function(track){ %><li><a href="#" data-uri="<%= track.file %>"><%= track.title %> <i class="fa fa-plus"></i></a></li><% }); %></ol>
			</li> -->
			</ul>
		</div>
		
	</div>
	<script src="https://js.pusher.com/4.2/pusher.min.js"></script>
	<script type="text/javascript" src="{% static "js/underscore.js" %}"></script>
	<script type="text/javascript" src="{% static "js/pusher.js" %}"></script>
	<script type="text/javascript" src="{% static "js/main.js" %}"></script>
	<script type="text/javascript"></script>
	<script type="text/javascript">
	var resultTemplate = _.template('<a href="#" data-uri="<%= data.file %>"><em><%= data.title %></em> by <%= data.artist %><br />From <em><%= data.album %></em></a>');
	var resultsContainer = document.querySelector('form.search > ul.results');

	var albumTemplate = _.template('<span class="album-title"><%= title %></span><br /><img src="/artwork/album/<%= encodeURIComponent(title) %>" class="album-artwork"><ol><% _.each(tracks,function(track){ %><li><a href="#" data-uri="<%= track.file %>"><%= track.title %> <i class="fa fa-plus"></i></a></li><% }); %></ol>');

	var artworkTemplate = _.template('<a href="#" class="grabAlbum" data-artist="<%= artist %>" data-album="<%= album %>"><div class="browse_artwork_container"><img src="/artwork/album/<%= encodeURIComponent(album) %>"></div><span><%= album %></span><span class="artist_name"><%= artist %></span></a>')
	console.log(document.querySelector("input[name='search']"));
	var active = undefined;

	function assignTrackAddLinks(el){
		el.querySelector('a').addEventListener('click', function(){
			ajaxReq = new XMLHttpRequest();
			ajaxReq.open('POST', '/add/', true);
			ajaxReq.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
			ajaxReq.setRequestHeader('HTTP_X_REQUESTED_WITH','XMLHttpRequest')
			ajaxReq.setRequestHeader('Content-Type', 'application/json');
			ajaxReq.onload = function(){
				console.log('Sending!');
			}
			ajaxReq.send(JSON.stringify({'uri':this.getAttribute('data-uri')}))
			document.querySelector('form.search > ul.results').innerHTML = '';
		});
	}
	document.querySelector("input[name='search']").addEventListener('keyup',function(event){
		if(this.value.length > 1){
			var request = new XMLHttpRequest();
			request.open('GET', '/search/'+this.value, true);
			request.onload = function() {
			  if (request.status >= 200 && request.status < 400) {
			  	resultsContainer.innerHTML = ''
			    var data = JSON.parse(request.responseText);
			    for (var i = 0; i < data.length; i++) {
			    	liEl = document.createElement('li');
			    	liEl.innerHTML = resultTemplate({data:data[i]})
			    	resultsContainer.appendChild(liEl);
			    }

			    if(event['keyIdentifier'] == "Down"){
			    	if(active == undefined){
			    		active = document.querySelector('form.search > ul.results li:first-child')
			    	} else {
			    		active = active.nextSibling
			    	}
				}
			    _.each(document.querySelectorAll('form.search > ul.results li'), function(el){assignTrackAddLinks(el);});
			  } else {

			  }
			};
			// request.onerror = function() {
			//   // There was a connection error of some sort
			// };
			request.send();
		}
	});

	_.each(document.querySelectorAll('a.artistName'),function(el){
		elBrowsePopup = document.getElementById('browsePopup');
		el.addEventListener('click',function(){
			elBrowsePopup.querySelector('ul').innerHTML = '';
			elBrowsePopup.style.display = '';
			elBrowsePopup.querySelector('.loading-cog').classList.remove('hide');
			console.log(this.innerHTML);
			sBrowsedArtist = this.innerHTML;
			ajaxReq = new XMLHttpRequest();
			ajaxReq.open('GET','/filter/artist/'+encodeURIComponent((this.innerHTML).trim()),true);
			ajaxReq.onload = function(e){
				if (ajaxReq.status >= 200 && ajaxReq.status < 400) {
					elBrowsePopup.querySelector('h2').innerHTML = sBrowsedArtist;
					_.each(JSON.parse(ajaxReq.responseText),function(tracks,title){
						console.log(title);
						console.log(tracks);
						liEl = document.createElement('li');
				    	liEl.innerHTML = albumTemplate({tracks:tracks,title:title});
				    	elBrowsePopup.querySelector('ul').appendChild(liEl);
					});
					_.each(elBrowsePopup.querySelectorAll('li > ol > li'), function(el){assignTrackAddLinks(el);});
				elBrowsePopup.querySelector('.loading-cog').classList.add('hide');
				elBrowsePopup.querySelector('.loading-cog').style.display = 'none';
				} else {
					//Display an error
				}
			}
			ajaxReq.send();
		});
	});

	document.getElementById("browsePopupClose").addEventListener('click',function(){
		elBrowsePopup = document.getElementById('browsePopup');
		elBrowsePopup.style.display = 'none';
		elBrowsePopup.querySelector('.loading-cog').style.display = '';
	});

	sStreamStatus = 'stop'
	oStreamElement = document.getElementById('stream');
	oStreamPBControl = document.getElementById('playback-control').querySelectorAll('i')[0];
	oStreamElement.addEventListener("playing", function(){
		console.log("Playing!!!");
		oStreamPBControl.classList.remove('fa-spin');
		oStreamPBControl.classList.remove('fa-fw');
		oStreamPBControl.className = oStreamPBControl.className.replace(/fa-play|fa-refresh/i,'fa-pause');
		sStreamStatus = 'play';
	});
	oStreamElement.addEventListener("waiting", function(){
		oStreamPBControl.className = oStreamPBControl.className.replace(/fa-play/i,'fa-refresh');
		oStreamPBControl.classList.add('fa-spin');
		oStreamPBControl.classList.add('fa-fw');
		console.log("Buffering!!!");
	});
	oStreamElement.addEventListener("pause", function(){
		oStreamPBControl.className = oStreamPBControl.className.replace(/fa-pause/i,'fa-play');
		sStreamStatus = 'stop';
		console.log("Stopping!!!");
	});
	document.getElementById('playback-control').addEventListener("click", function(){
		console.log('click');
		if(sStreamStatus == 'stop'){
			oStreamElement.load();
			oStreamElement.play()
		} else {
			oStreamElement.pause()
		}
	}, false);

	document.getElementById('playback-vol-down').addEventListener("click", function(){
		oStreamElement.volume-=0.1
	});
	document.getElementById('playback-vol-up').addEventListener("click", function(){
		oStreamElement.volume+=0.1
	});

	var iAlbumStart = 0;
	var bAlbumComplete = false;
	var xhrAlbumRequest = new XMLHttpRequest;
	var bAlbumProcessing = false;


	function loadAlbumArt(){
		xhrAlbumRequest.open("GET","/list/albums/"+iAlbumStart+"/"+parseInt(iAlbumStart+19));
		xhrAlbumRequest.onload = function(e){
			if (xhrAlbumRequest.status >= 200 && xhrAlbumRequest.status < 400) {
				resultsList = document.querySelector('#browsing_album > ol');
				_.each(JSON.parse(xhrAlbumRequest.responseText),function(album){
					liEl = document.createElement('li');
			    	liEl.innerHTML = artworkTemplate(album)
			    	link = liEl.querySelector('a.grabAlbum')
			    	link.addEventListener('click',function(event){
			    		elCurrent = this;
			    		// console.log(this)
						var xhrAlbumListRequest = new XMLHttpRequest;
						xhrAlbumListRequest.open("GET","/filter/artist/"+encodeURIComponent(this.dataset.artist)+"/album/"+encodeURIComponent(this.dataset.album));
						xhrAlbumListRequest.onload = function(e){
							if (xhrAlbumListRequest.status >= 200 && xhrAlbumListRequest.status < 400) {
								elBrowsePopup.querySelector('ul').innerHTML = '';
								elBrowsePopup.style.display = '';
								elBrowsePopup.querySelector('.loading-cog').classList.remove('hide');
								elBrowsePopup.querySelector('h2').innerHTML = elCurrent.dataset.artist;
								console.log('RETURN')
								console.log(JSON.parse(xhrAlbumListRequest.responseText));
								console.log(elCurrent.dataset.album);
								elTrackLi = document.createElement('li');
						    	elTrackLi.innerHTML = albumTemplate({tracks:JSON.parse(xhrAlbumListRequest.responseText),title:elCurrent.dataset.album});
						    	elBrowsePopup.querySelector('ul').appendChild(elTrackLi);
								_.each(elBrowsePopup.querySelectorAll('li > ol > li'), function(el){assignTrackAddLinks(el);});
									elBrowsePopup.querySelector('.loading-cog').classList.add('hide');
									elBrowsePopup.querySelector('.loading-cog').style.display = 'none';
								}
							};
						xhrAlbumListRequest.send();
					});
			    	resultsList.appendChild(liEl);
				});
				iAlbumStart += 20;
				bAlbumProcessing = false;

				// updateAlbumArtBounds();
			}
		}
		xhrAlbumRequest.send();

		// grabAlbum
		// _.each(document.querySelectorAll('a.grabAlbum'),function(el){
		// 	el.addEventListener(
		// 	});
		// });
	};

	loadAlbumArt();
	// function updateAlbumArt(){
	// 	document.querySelector('#browsing_album > ol:')
	// }
	function updateAlbumArtBounds(){
		document.querySelector('#browsing_album').addEventListener('scroll',function(){
			console.log('Scroll');
			elLastChild = this.querySelector('ol').lastChild;
			// console.log(elLastChild.getBoundingClientRect());
			// console.log(this.offsetHeight);
			// console.log(elLastChild);
			console.log(elLastChild.getBoundingClientRect().top)
			console.log(this.offsetHeight + elLastChild.getBoundingClientRect().height*1.1)
			console.log(xhrAlbumRequest.readyState)
			console.log(bAlbumProcessing)
			if (elLastChild.getBoundingClientRect().top < (this.offsetHeight + elLastChild.getBoundingClientRect().height*1.1) && xhrAlbumRequest.readyState == 4) {
				if(!bAlbumProcessing){
					loadAlbumArt();
				}
				bAlbumProcessing = true;
			}
		});		
	}

	updateAlbumArtBounds();

	_.each(document.querySelectorAll('#browseBy_artist, #browseBy_album'), function(el){
		console.log(el)
		el.addEventListener('click',function(){
			albumdiv = document.querySelector('#browsing_album');
			albumdiv.style.display = (albumdiv.style.display == 'flex' ? 'none' : 'flex');
			artistdiv = document.querySelector('#browsing_artist');
			artistdiv.style.display = (artistdiv.style.display == ('block' | 'flex' | '') ? 'none' : '');
		})
	});

	currentBuffer = 0

	playpause = document.getElementById('playback-control')
	
	playpause.addEventListener('click', function(el){
		console.log('Click Play');
		click_timestamp = performance.now()
	});

	stream = document.getElementById('stream');
	stream.addEventListener('playing',function(){
		console.log('Actually playing');
		currentBuffer = performance.now() - click_timestamp;
		console.log(currentBuffer);
	});

	</script>
</body>
</html>