<!DOCTYPE html>
<html>
<head>
	<title>PlayPy</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "styles/style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "styles/font-awesome/css/font-awesome.min.css" %}">
</head>
<body>
	<div id="banner">
		<h1>PlayPy</h1>
		<div id="banner-now-playing">
			<div class="now-playing-text">
				<span class="info-title">{{title}}</span> by <span class="info-artist">{{artist}}</span><br />
				from <span class="info-album">{{album}}</span>
			</div>
			<img src="{% url 'music:artwork' %}" class="album-artwork">
		</div>
	</div>

	<div class="clear-fix">
		<h4>Add a Track</h4>
		<form class="search">
			{% csrf_token %}
			<input name="search" placeholder="Search..." autocomplete="off"/>
			<ul class="results">
			</ul>
		</form>
	</div>

	<div id="browse" class="clear-fix">
		<h3>Browse</h3>
		<div>
			<ol>
			{% for artist in artistList %}
				<li><a href="#" class="artistName">{{ artist }}</a>&nbsp;</li>
			{% endfor %}
			</ol>
		</div>

	</div>

	<div class="clear-fix">
		<h4>Upcoming Songs</h4>
		<ul class="upcoming-track-list">
			{% for song in lUpcoming %}
				<li>{{ song.title }} by {{ song.artist }}</li>
			{% endfor %}
		</ul>
		<h5>There are <span class="data_total-tracks">{{ iTotalTracks }}</span> tracks currently in the queue
	</div>
	<div id="playback">
		<audio id="stream" preload="none">
			<source src="http://yodelbox.ad.daraco.net.au:8000" type='audio/mpeg; codecs="mp3"'>
			Your browser doesn't support the HTML5 Audio Tag.
		</audio>
		<a href="#" id="playback-control">
			<i class="fa fa-play"></i>
		</a>
		<a href="#" id="playback-vol-down">
			<i class="fa fa-volume-down"></i>
		</a>
		<a href="#" id="playback-vol-up">
			<i class="fa fa-volume-up"></i>
		</a>
	</div>
	<!-- <div id="browsePopup"> -->
	<div id="browsePopup" style="display:none;">
		<a href="#" id="browsePopupClose"><i class="fa fa-close"></i></a>
		<h2>Artist Name</h2>
		<div>
			<div class="loading-cog"><i class="fa fa-spin fa-fw fa-cog"></i></div>
			<ul>
			</ul>
		</div>
		
	</div>
	<script src="https://js.pusher.com/3.0/pusher.min.js"></script>
	<script type="text/javascript" src="{% static "js/underscore.js" %}"></script>
	<script type="text/javascript" src="{% static "js/pusher.js" %}"></script>
	<script type="text/javascript" src="{% static "js/main.js" %}"></script>
	<script type="text/javascript"></script>
	<script type="text/javascript">
	var resultTemplate = _.template('<a href="#" data-uri="<%= data.file %>"><em><%= data.title %></em> by <%= data.artist %><br />From <em><%= data.album %></em></a>');
	var resultsContainer = document.querySelector('form.search > ul.results');

	var albumTemplate = _.template('<span class="album-title"><%= title %></span><ol><% _.each(tracks,function(track){ %><li><a href="#" data-uri="<%= track.file %>"><%= track.title %> <i class="fa fa-plus"></i></a></li><% }); %></ol>')
	console.log(document.querySelector("input[name='search']"));
	var active = undefined;

	function assignTrackAddLinks(el){
		el.querySelector('a').addEventListener('click', function(){
			ajaxReq = new XMLHttpRequest();
			ajaxReq.open('POST', '/add/', true);
			ajaxReq.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
			ajaxReq.setRequestHeader('HTTP_X_REQUESTED_WITH','XMLHttpRequest')
			ajaxReq.setRequestHeader('Content-Type', 'application/json');
			ajaxReq.onload = function(){
				console.log('Sending!');
			}
			ajaxReq.send(JSON.stringify({'uri':this.getAttribute('data-uri')}))
			document.querySelector('form.search > ul.results').innerHTML = '';
		});
	}
	document.querySelector("input[name='search']").addEventListener('keyup',function(event){
		console.log(event);
		// console.log(event['keyIdentifier']);
		if(this.value.length > 1){
			var request = new XMLHttpRequest();
			request.open('GET', '/search/'+this.value, true);
			request.onload = function() {
			  if (request.status >= 200 && request.status < 400) {
			  	resultsContainer.innerHTML = ''
			    var data = JSON.parse(request.responseText);
			    for (var i = 0; i < data.length; i++) {
			    	liEl = document.createElement('li');
			    	liEl.innerHTML = resultTemplate({data:data[i]})
			    	resultsContainer.appendChild(liEl);
			    }

			    if(event['keyIdentifier'] == "Down"){
			    	if(active == undefined){
			    		active = document.querySelector('form.search > ul.results li:first-child')
			    	} else {
			    		active = active.nextSibling
			    	}
					console.log('Down!');					
				}
				console.log(active);
			    _.each(document.querySelectorAll('form.search > ul.results li'), function(el){assignTrackAddLinks(el);});
			  } else {

			  }
			};
			// request.onerror = function() {
			//   // There was a connection error of some sort
			// };
			request.send();
		}
	});

	_.each(document.querySelectorAll('a.artistName'),function(el){
		elBrowsePopup = document.getElementById('browsePopup');
		el.addEventListener('click',function(){
			elBrowsePopup.querySelector('ul').innerHTML = '';
			elBrowsePopup.style.display = '';
			elBrowsePopup.querySelector('.loading-cog').classList.remove('hide');
			console.log(this.innerHTML);
			sBrowsedArtist = this.innerHTML;
			ajaxReq = new XMLHttpRequest();
			ajaxReq.open('GET','/filter/artist/'+(this.innerHTML).trim(),true);
			ajaxReq.onload = function(e){
				console.log(e);
				if (ajaxReq.status >= 200 && ajaxReq.status < 400) {
					elBrowsePopup.querySelector('h2').innerHTML = sBrowsedArtist;
					// console.log(JSON.parse(ajaxReq.responseText).keys.length);
					// for (var i = 0; i < JSON.parse(ajaxReq.responseText).length; i++) {
					// 	console.log(JSON.parse(ajaxReq.responseText[i]));
					// };
					_.each(JSON.parse(ajaxReq.responseText),function(tracks,title){
						console.log(title);
						console.log(tracks);
						// console.log(albumTemplate({tracks:tracks,title:title}));
						liEl = document.createElement('li');
				    	liEl.innerHTML = albumTemplate({tracks:tracks,title:title});
				    	elBrowsePopup.querySelector('ul').appendChild(liEl);
					});
					_.each(elBrowsePopup.querySelectorAll('li > ol > li'), function(el){assignTrackAddLinks(el);});
				elBrowsePopup.querySelector('.loading-cog').classList.add('hide');
				elBrowsePopup.querySelector('.loading-cog').style.display = 'none';

				} else {
					//Display an error
				}
			}
			ajaxReq.send();
		});
	});

	document.getElementById("browsePopupClose").addEventListener('click',function(){
		elBrowsePopup = document.getElementById('browsePopup');
		elBrowsePopup.style.display = 'none';
		elBrowsePopup.querySelector('.loading-cog').style.display = '';
	});

	// document.querySelector("input[name='search']").addEventListener('focusout',function(event){
	// 	resultsContainer.innerHTML = '';
	// },true);

	sStreamStatus = 'stop'
	oStreamElement = document.getElementById('stream');
	oStreamPBControl = document.getElementById('playback-control').querySelectorAll('i')[0];
	oStreamElement.addEventListener("playing", function(){
		console.log("Playing!!!");
		oStreamPBControl.classList.remove('fa-spin');
		oStreamPBControl.classList.remove('fa-fw');
		oStreamPBControl.className = oStreamPBControl.className.replace(/fa-play|fa-refresh/i,'fa-pause');
		sStreamStatus = 'play';
	});
	oStreamElement.addEventListener("waiting", function(){
		oStreamPBControl.className = oStreamPBControl.className.replace(/fa-play/i,'fa-refresh');
		oStreamPBControl.classList.add('fa-spin');
		oStreamPBControl.classList.add('fa-fw');
		console.log("Buffering!!!");
	});
	oStreamElement.addEventListener("pause", function(){
		oStreamPBControl.className = oStreamPBControl.className.replace(/fa-pause/i,'fa-play');
		sStreamStatus = 'stop';
		console.log("Stopping!!!");
	});
	document.getElementById('playback-control').addEventListener("click", function(){
		console.log('click');
		if(sStreamStatus == 'stop'){
			oStreamElement.load();
			oStreamElement.play()
		} else {
			oStreamElement.pause()
		}
	}, false);

	document.getElementById('playback-vol-down').addEventListener("click", function(){
		oStreamElement.volume-=0.1
	});
	document.getElementById('playback-vol-up').addEventListener("click", function(){
		oStreamElement.volume+=0.1
	});
	</script>
</body>
</html>