cffi==1.11.5
cryptography
Django==2.2.10
django-cors-headers==2.4.0
ipaddress==1.0.16
mutagen==1.41
ndg-httpsclient==0.5.1
pusher==2.0.1
pyasn1==0.4.4
pycparser==2.19
pyOpenSSL==18.0.0
python-mpd2==1.0.0
requests
uWSGI
