<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>playpy.wsgi</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/yodelbox/play-py/venv/bin/uwsgi</string>
        <string>--ini</string>
        <string>playpy_uwsgi.ini</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/var/log/playpy/wsgi.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/yodelbox/play-py/</string>
</dict>
</plist>