@import url(https://fonts.googleapis.com/css?family=Lato);
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
.clear-fix:before,
.clear-fix:after {
  display: table;
  content: "";
}
.clear-fix:after {
  clear: both;
}
body {
  background-color: #fff;
  color: #414141;
  font-family: "Lato", sans-serif;
  background-size: cover;
  margin: 0;
  height: 100vh;
}
div.artwork-blur {
  -webkit-filter: blur(30px);
  filter: blur(30px);
  z-index: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border: 0;
  margin: 0;
  height: 100%;
  content: " ";
  background-size: cover;
}
#album-details {
  perspective: 1000px;
  margin: 30px auto;
  width: 1024px;
  -webkit-backdrop-filter: blur(50px);
  text-shadow: 1px 1px 2px #525252;
}
#album-details .album-artwork {
  height: 500px;
  padding-top: 10px;
  transform: rotateY(20deg);
  float: left;
}
#album-details .album-text-info {
  float: left;
  margin-left: 30px;
  font-size: 1.5em;
}
#album-details .album-text-info span {
  line-height: 1.8em;
}
@media (min-width: 2048px) {
  #album-details {
    width: 1536px;
  }
  #album-details .album-artwork {
    height: 850px;
  }
  #album-details .album-text-info {
    font-size: 2.3em;
  }
  #album-details .album-text-info span {
    list-height: 2.5em;
  }
}
#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#banner {
  background-color: #22317f;
  color: #fff;
  padding: 8px 0;
  min-height: 90px;
  padding-left: 8px;
  padding-right: 8px;
}
#banner h1 {
  display: inline;
}
#banner #banner-now-playing {
  text-align: right;
  float: right;
  font-size: 1.1em;
  width: 50%;
}
#banner #banner-now-playing .info-title,
#banner #banner-now-playing .info-artist,
#banner #banner-now-playing .info-album {
  font-weight: bold;
}
#banner #banner-now-playing img.album-artwork {
  max-height: 70px;
  margin-left: 10px;
  display: inline-block;
  float: right;
}
#banner #banner-now-playing div.now-playing-text {
  padding-top: 5px;
  display: inline-block;
  line-height: 1.6em;
  text-align: right;
}
#middleContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-bottom: 60px;
}
#col_searchAndBrowse {
  display: flex;
  width: 75%;
  flex-direction: column;
  padding: 0 8px;
}
#searchContainer {
  height: 110px;
  flex-grow: 1;
  order: 0;
  overflow: visible;
}
#browse {
  search: 1;
  display: flex;
  flex-direction: column;
  min-height: 10px;
}
#browse > div:nth-child(1) {
  min-height: 50px;
}
#browse > div:nth-child(1) h3 {
  display: inline-block;
}
#browse > div:not(:nth-child(1)) {
  overflow-y: scroll;
  min-height: 200px;
  flex-grow: 1;
}
#browsing_artist ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
#browsing_artist ol > li {
  display: block;
  line-height: 2.2em;
  float: left;
  width: 33.33333%;
  border-bottom: 1px solid #22317f;
}
#browsing_artist ol .artist-name:nth-child(3n):after {
  content: " ";
  display: block;
  clear: both;
}
#browsing_album ol {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}
#browsing_album ol:after {
  content: "";
  flex: auto;
}
#browsing_album ol li {
  font-size: 0.8em;
  padding: 15px 5px;
  text-align: left;
  width: 200px;
  min-height: 200px;
}
#browsing_album ol li div.browse_artwork_container {
  min-height: 200px;
  width: 100%;
  margin: 0px auto;
}
#browsing_album ol li div.browse_artwork_container img {
  margin: 0;
  width: 100%;
  border: solid 1px #C2C2C2;
  border-radius: 5px;
}
#browsing_album ol li span {
  clear: both;
  display: block;
  margin: 0.1em 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#browsing_album ol li span.artist_name {
  font-size: 1em;
  color: #ADADAD;
}
form.search ul.results {
  -webkit-margin-before: 0;
  color: #fff;
  border: 1px solid #22317f;
  list-style-type: none;
  padding-left: 0;
  visibility: hidden;
  transition: visibility 0.2s;
  position: relative;
  z-index: 9999;
}
form.search ul.results a {
  color: inherit;
  text-decoration: none;
}
form.search ul.results li {
  border-bottom: 1px solid #22317f;
  background-color: #22317f;
  display: block;
  line-height: 1.3em;
  z-index: 9999;
}
form.search ul.results li a {
  display: block;
  padding: 6px;
}
form.search ul.results li a:hover,
form.search ul.results li a.hover {
  background-color: rgba(255, 255, 255, 0.3);
}
form.search input {
  border-radius: 13px;
  font-size: 1em;
  height: 2em;
  outline: none;
  padding: 0 9px 0 9px;
  width: 100%;
}
form.search input:focus + .results {
  visibility: visible;
}
#upcoming-tracks {
  flex: 2;
  border-left: 4px solid #22317f;
  overflow: auto;
  padding: 5px;
}
#playback {
  font-size: 2em;
  background-color: #22317f;
  color: #fff;
  margin-left: 0;
  margin-right: 0;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}
#browsePopup {
  border-radius: 5px;
  background-color: #2d41a7;
  color: #fff;
  width: 500px;
  margin-left: -250px;
  left: 50%;
  top: 25%;
  padding: 10px;
  position: fixed;
  z-index: 10;
}
#browsePopup h2 {
  text-align: center;
}
#browsePopup .album-title {
  font-size: 1.2em;
}
#browsePopup > a:first-child {
  position: absolute;
  right: 10px;
  top: 10px;
}
#browsePopup > div {
  min-height: 300px;
  max-height: 400px;
  overflow-y: scroll;
}
#browsePopup > div > div {
  transition: opacity 400ms;
  text-align: center;
}
#browsePopup > div > div .fa-cog {
  font-size: 5em;
}
#browsePopup > div > div.hide {
  opacity: 0;
}
#browsePopup > div a:hover {
  color: #C3C7EE;
}
#browsePopup > div i.fa-plus {
  float: right;
  margin-right: 15px;
}
#browsePopup > div > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#browsePopup > div > ul > li {
  margin-bottom: 15px;
  overflow: auto;
  clear: both;
}
#browsePopup > div > ul img.album-artwork {
  display: block;
  float: left;
  width: 20%;
}
#browsePopup > div > ul ol {
  float: left;
  text-indent: none;
  width: 80%;
}
#browsePopup > div > ul ol > li {
  padding: 0;
}
